.pic1-image {
  max-width: 70%;
  max-height: 70%;
}

@media (max-width: 768px) {
  .pic1-image {
    max-width: 50%;
    max-height: 50%;
  }
}

@media (max-width: 992px) {
  .pic1-image {
    margin-top: 4em;
  }
}
